@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-text: rgb(238, 238, 238);
    --color-bg-transparent: rgba(238, 238, 238, 0.3);
    --color-background: rgb(2, 11, 7);
    --color-primary: rgb(73, 192, 172);
    --color-secondary: rgb(62, 145, 126);
    --color-accent: rgb(22, 208, 124);
}