

@font-face {
    font-family: 'Atkinson Hyperlegible Next Italic';
    src: url('/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: normal;
}

@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
@layer utilities {
    .font-atkinson {
      font-family: "Atkinson Hyperlegible Next", sans-serif;
    }
    .font-atkinson-italic {
      font-family: "Atkinson Hyperlegible Next Italic", sans-serif;
    }
  }

/* BUG: Font assignment */

@theme {
    
    --font-atkinson: 'Atkinson Hyperlegible Next', sans-serif;
    --font-atkinson-italic: 'Atkinson Hyperlegible Next Italic', sans-serif;

    --color-text: rgb(238, 238, 238);
    --color-text-invert: rgb(17, 17, 17);
    --color-text-transparent: rgba(238, 238, 238, 0.5);
    --color-bg-transparent: rgba(238, 238, 238, 0.3);
    --color-background: rgb(2, 11, 7);
    --color-primary: rgb(73, 192, 172);
    --color-primary-transparent: rgba(73, 192, 172, 0.2);
    --color-secondary: rgb(62, 145, 126);
    --color-secondary-transparent: rgba(62, 145, 126, 0.2);
    --color-accent: rgb(22, 208, 124);

    --padding-site-spacing: 4rem;

    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --gap-xl: 2rem;

    --m-xs: 0.25rem;
    --m-sm: 0.5rem;
    --m-md: 1rem;
    --m-lg: 1.5rem;
    --m-xl: 2rem;

    --p-xs: 0.25rem;
    --p-sm: 0.5rem;
    --p-md: 1rem;
    --p-lg: 1.5rem;
    --p-xl: 2rem;

    --text-fsize-h1: 2rem;
    --text-fsize-h2: 1.5rem;
    --text-fsize-h3: 1.25rem;
    --text-fsize-p: 1.1rem;
}

@layer utilities {
    .font-atkinson { font-family: var(--font-atkinson); }
    .font-atkinson-italic { font-family: var(--font-atkinson-italic); }
  }

@layer base {
    :root{
        @apply bg-background;
    }
    
    html {
        @apply bg-background min-h-full;
    }

    a:hover {
        @apply text-accent transition-all duration-300 ease-in-out;
    }

    h1 {
        @apply text-fsize-h1 text-primary;
    }

    h2 {
        @apply text-fsize-h2 text-secondary;
    }

    h3 {
        @apply text-fsize-h3 text-accent;
    }

    p, li {
        @apply text-fsize-p;
    }

    NuxtImg,
    img {
        pointer-events: none;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}