@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Atkinson Hyperlegible Next Italic';
    src: url('public/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('public/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
    font-weight: normal;
}

@theme {
    --color-text: rgb(238, 238, 238);
    --color-bg-transparent: rgba(238, 238, 238, 0.3);
    --color-background: rgb(2, 11, 7);
    --color-primary: rgb(73, 192, 172);
    --color-secondary: rgb(62, 145, 126);
    --color-accent: rgb(22, 208, 124);

    --padding-site-spacing: 4rem;

    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --gap-xl: 2rem;

    --font-atkinson: 'Atkinson Hyperlegible Next', sans-serif;
    --font-atkinson-italic: 'Atkinson Hyperlegible Next Italic', sans-serif;
}

@layer base {
    html {
        @apply bg-background min-h-full;
    }
}